
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
  background-image: url(" https://raw.githubusercontent.com/Icecream1234/portfolio/master/gradient.png ");

}
h1 {
  font-style: italic;
  font-size: 20px;
  color:  #33ffff ;
  border: 5px dotted blue;
}
.navbar {
  overflow: hidden;
  background-color:  #8822c6;
    
}

.navbar a{
  float: left;
  display: block;
  color:   #ffffff;
  text-align: center;
  padding:  14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
  
.navbar a:hover {
   background-color: #d1a2ee;
   color: #000000;
}

.navbar a.active{
   background-color: #ffffff;
   color: Black;
}

