
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
  background-image: url("https://raw.githubusercontent.com/Icecream1234/portfolio/master/galaxy.jpg");
 
}


h1 {
  font-style: italic;
  font-size: 20px;
  color:  #33ffff ;
  border: 5px dotted blue;
  padding: 10px;
  float: right;
}

p {
   color: #33ceff ;
}
